ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 13px;
    align-items: center;
    margin-left: 8px;
}

#sign-in{
    background: #1a73e8;
    border: 1px solid transparent;
    height: 36px;
    min-width: 96px;
    color: rgb(255, 255, 255);
}

#search-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

#stock-google-image{
    width: 300px;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

#search-text{
    width: 550px;
    height: 39px;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
}

#search-text:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

#lucky{
    margin-left: 10px;
}

#search-icon{
    position: absolute;
    padding-top: 10px;
    left: 500px;
}

#mic-icon{
    position: absolute;
    padding-top: 10px;
    left: 1015px;
}

.search-box-button{
    min-width: 50px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    font-family: arial,sans-serif;
}

.search-box-button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#footer-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#footer-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 1200px){
.footer-links {
    justify-content: space-evenly;
}    
}

.link {
    display: block;
    padding: 15px 15px 15px 15px;
}

.link:hover {
    text-decoration: underline;
}

p{
    display: block;
    margin-left: 1em;
    color: #3c4043;
    font-family: arial,sans-serif;
}

#footer-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

header {
    display: block;
    position: relative;
}

li {
    margin-left: 6px;
    margin-right: 6px;
}
 
footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(242, 242, 242);
    left: 0;
    right: 0;
}

a{
    /* color: #3c4043; */
    color: #70757a;
    font-family: arial,sans-serif;
    text-decoration: none;
}

.new-apps{
    color: #3c4043;
}

.new-apps:hover{
    text-decoration: underline;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 5px;
    gap: 10px;
}